body{
	background-color: #66ff66;
}
div{
	width:50%;
	margin: 0 auto;
}
nav{
	background-color:#33cccc;
	padding: 10px;
	text-align: center;;
	color:#e6ffff;
	font-size:30px;
}
header{
	background-color:#00ace6 ;
	padding: 25px;
	font-size:30px;
	text-align: center;
	color: #e6ffff;
}
.text{
	background-color:#53c653;
	padding: 15px;
	font-size: 15px;
	text-align: center;
	color:#e62e00;
}
section{
	display: -webkit-flex;
	display: flex;
}
.fbox{
	-webkit-flex:2;
	-ms-flex:2;
	flex:2;
	background-color:#808080;
	padding: 20px;
	height: 200px;
}
.sbox{
	-webkit-flex:2;
	-ms-flex:2;
	flex:2;
	background-color: #ac5353;
	padding: 20px;
}
.tbox{
	-webkit-flex:2;
	-ms-flex:2;
	flex:2;
	background-color:#df2020 ;
	padding: 20px;
}
footer{
	background-color:#8b6f49;
	padding: 10px;
	font-size: 15px;
	text-align: center;
	color:white; 
}